[submodule "player"]
	path = player
	url = git@github.com:SteamV2-better-du-pauvre/player.git
[submodule "platform"]
	path = platform
	url = git@github.com:SteamV2-better-du-pauvre/platform.git
[submodule "game-editor"]
	path = game-editor
	url = git@github.com:SteamV2-better-du-pauvre/game-editor.git
